<!DOCTYPE html>
<html lang="ms">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JomMakan! - {% block title %}Makan Apa Hari Ni?{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- For Google search -->
    <meta name="description" content="Random Malaysian food picker">

    <!-- For social shares (WhatsApp, Facebook, Twitter) -->
    <meta property="og:title" content="JomMakan - Makan Apa Hari Ni?">
    <meta property="og:description" content="Tak payah pening - biar kami randomkan!">
    <meta property="og:image" content="https://jommakan.app/static/og-image.jpg">
    <meta property="og:url" content="https://jommakan.app">
    <meta name="twitter:card" content="summary_large_image">
</head>
<body>
    <header>
        <h1 class="logo">JomMakan!</h1>
    </header>
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <div class="pagination">
            <a href="https://github.com/aizatsyafiq/JomMakan" class="social-btn" id="githubBtn" target="_blank">
                <img src="{{ url_for('static', filename='icons/socmed-github.svg') }}" alt="GitHub">
            </a>
            <a href="#" class="social-btn" id="twitterBtn">
                <img src="{{ url_for('static', filename='icons/socmed-twitter.svg') }}" alt="Twitter">
            </a>
        </div>
    </footer>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>